:root {
    --black : #252525;
    --orange : #dc5c01;
    --bleu: #73a8f7;
    --jaune: #f59906bb;
    --rose: #ff1c51bb; 
    box-sizing: border-box;  
}
* {
    box-sizing: inherit;
}

.accessibility {
    position: absolute;
    left: -15000px;
}

#mainHeader {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    line-height: 1;
}
#mainHeader h1, #mainHeader h2, #mainHeader p, #mainHeader ul {
    margin: 0;
}


#mainNav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#logoImg {
    width: 30px;
}
#time p {
    font-weight: bold;
}
#mainNav {
    font-weight: bold;
}
#mainNav a:hover {
    background-color: #f78f07;
}

img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: Verdana, Arial, Helvetica, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

body h1,h3, header h2 {
    text-transform: uppercase;
}
header h2 {
    font-size: smaller;
}
#pageContent {
    padding: 80px 0;
}
article h2 {
    text-transform: uppercase;
}
#mainHeader h2 {
    color: var(--orange)
}
#mainHeader section, #mainFooter, #presentationDuSite h1, #partieDeux ul {
    background-color: var(--black);
    color: white;
}


#bienvenue p:first-of-type {
    font-weight: bold;
}
#partieDeux {
    background-image: url(/images/vente-location.jpg);
}
#partieDeux #louer, #venteEtLocation {
    background-color: var(--jaune);
    margin: 40px 0;
}
#partieDeux #acheter {
    background-color: var(--rose);
}
#partieQuatre {
    background-image: url(/images/vehicule3.jpg);
}

#louer, #acheter, #venteEtLocation {
    padding: 30px;
}
h3 {
    font-size: 0,5em;
}

#mainFooter {
    bottom: 0;
}
#mainFooter h1 {
    font-size: 0,5em;
}
#mainFooter li {
    width: 20%;
    margin: 5px;
}

@media screen {
    .accueil {
        background-image: url(/images/vehicule1.jpg);
        background-repeat: no-repeat;  
        background-position: left top;
        background-size: 100%;
    }
    
}
